CompileFlags:
    Add: [
        "-isystem/opt/homebrew/include",
        "-isystem/usr/local/include",
        "-isystem/Users/struc/dev/shared/stb",
        "-I/usr/local/include/freetype2",
        "-Wall",
        "-Wextra",
        "-Wno-unused-function",
        "-Wno-unused-parameter",
        "-Wno-unused-variable",
        "-Wno-unused-but-set-variable",
        "-xc",
        "-std=c99"
    ]
Diagnostics:
    UnusedIncludes: None
